@charset "utf-8"

  *{
    margin:0;
    padding:0;
}

body{
   background-color: #696969;
}

header{
  background=color: #006400;
}

#main{
  background-color: #ff4500;
  width: calc(100% - 200px);
  min-width: 500px;
  float:left;
}

#box1{
  background-color: #ff4500;
  color: #7fffd4
  width: 500px;
  margin: 5px;
  float:left;
}

#main2{
  background-color: #191970;
  color: #ee82ee
  width: 500px;
  margin: 5px;
  float:left;
}
aside{
  background-color: #4b0082;
  width: 500px;
   float:right;
}

footer{
  background-color: #ffff00;
  clear: both;
}
