@charset "utf-8"

  *{
    margin:0;
    padding:0;
}

body{
   background-color: #696969;
}

header{
  background=color: #006400;
}

#main1{
  background-color: #ff4500;
  width: 500px;
  float:left;
}

#main2{
  background-color: #191970;
  width: 500px;
  float:left;
}
aside{
  background-color: #4b0082;
  width: 500px;
   float:right;
}

footer{
  background-color: #ffff00;
  clear: both;
}
